<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">

    <title>Gullfoss Inn</title>
</head>
<body>
    
    <nav>
        <a id="homeLink" href="/">Gullfoss Inn</a>
        | 
        <a href="guests">Guests</a>
        <a href="bookings">Bookings</a>
        <a href="roomTypes">Room Types</a>
        <a href="rooms">Rooms</a>
        <a href="employees">Employees</a>
        <a href="employeeAssignments">Employee Assignments</a>
    </nav>

    {{{body}}}

</body>
</html>